<!-- Problemi grafici con l'utilizzo di *ngFor, posticipato l'intervento -->
<div class="parent">
  <div class="div1">
    <app-article-info [info]="infos[0]"></app-article-info>
  </div>
  <div class="div2">
    <app-article-info *ngIf="infos[1]" [info]="infos[1]"></app-article-info>
  </div>
  <div class="div3">
    <app-article-info *ngIf="infos[2]" [info]="infos[2]"></app-article-info>
  </div>
  <div class="div4">
    <app-article-info *ngIf="infos[3]" [info]="infos[3]"></app-article-info>
  </div>
  <div class="div5">
    <app-support></app-support>
  </div>
  <div class="div6">
    <app-article-info *ngIf="infos[4]" [info]="infos[4]"></app-article-info>
  </div>
  <div class="div7">
    <app-article-info *ngIf="infos[5]" [info]="infos[5]"></app-article-info>
  </div>
  <div class="div8">
    <app-article-info *ngIf="infos[6]" [info]="infos[6]"></app-article-info>
  </div>
  <div class="div9">
    <app-article-info *ngIf="infos[7]" [info]="infos[7]"></app-article-info>
  </div>
  <div class="div10">
    <app-article-info *ngIf="infos[8]" [info]="infos[8]"></app-article-info>
  </div>
  <div class="div11">
    <app-article-info *ngIf="infos[9]" [info]="infos[9]"></app-article-info>
  </div>
  <div class="div12">
    <span>Il Blog</span>
  </div>
  <div class="div13">
    <app-blog-info [nameBlog]="'Il becco dell oca'" [author]="authors[0]"></app-blog-info>
  </div>
  <div class="div14"> <app-blog-info [nameBlog]="'Disarmato'" [author]="authors[1]"></app-blog-info> </div>
  <div class="div15"> <app-blog-info [nameBlog]="'Battitiperminuto'" [author]="authors[2]"></app-blog-info> </div>
  <div class="div16"> <app-blog-info [nameBlog]="'La zanzarella'" [author]="authors[3]"></app-blog-info> </div>
  <div class="div17"><app-blog-info [nameBlog]="'Impact Q&A'" [author]="authors[4]"></app-blog-info> </div>
  <div class="div18">
    <app-article-info *ngIf="infos[10]" [info]="infos[10]"></app-article-info>
  </div>
  <div class="div19"><app-article-info *ngIf="infos[11]" [info]="infos[11]"></app-article-info> </div>
  <div class="div20"><app-article-info *ngIf="infos[12]" [info]="infos[12]"></app-article-info> </div>
  <div class="div21"><app-article-info *ngIf="infos[13]" [info]="infos[13]"></app-article-info> </div>
  <div class="div22"><app-article-info *ngIf="infos[14]" [info]="infos[14]"></app-article-info> </div>
  <div class="div23"><app-article-info *ngIf="infos[15]" [info]="infos[15]"></app-article-info> </div>
</div>