div {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;

    img {
        border-radius: 84px;
        width: 84px;
        height: 84px;
    }
}